<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="FB" connectionString="Data Source=EUGENEPC\SQLEXPRESS_NEW;Initial Catalog=FB; User Id=sa; Password=345; Asynchronous Processing=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
